.outbound-rate-table-body td{
    vertical-align: middle;
    // text-align: center;
    width:200px;
    border:1px solid #bebebe;
}
.outbound-rate-table-body th{
    // vertical-align: middle;
    width:200px;
    // text-align: center;
    border:1px solid #bebebe;
}

.ql-align-center strong{
    color:#000
}