@import "../../../src/index.scss";
ul {
  list-style: none;
}

.footer {
  color: #fff;
  min-height: 330px;
  margin-top: 40px;
  background-color: var(--black-color);
  padding-top: 50px;
}
// @media (max-width:767px) {
//     .footer .row{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }
// }
.footer ul {
  width: 200px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.footer ul li a svg {
  font-size: 35px;
}
.face-icon {
  color: #1877f2;
}
.insta-icon {
  color: #c32aa3;
}
.twitter.icon {
  color: #1da1f2;
}

.content-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content-links li {
  padding: 3px;
  width: 100%;
}
.content-links li:hover {
  background-color: #fff;
}
.content-links li:hover a {
  font-weight: 600;
  color: var(--primary-color);
}

.footer input[type="text"],
.footer input[type="email"] {
  width: 300px;
}
