.hotel-info{
    margin-top:50px
}

.info-box ul h4{
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}

.outbound-rate-table-body td{
    vertical-align: middle;
    // text-align: center;
    width:200px;
    border:1px solid #bebebe;
}
.outbound-rate-table-body th{
    // vertical-align: middle;
    width:200px;
    // text-align: center;
    border:1px solid #bebebe;
}

.ql-align-center strong{
    color:#000
}