@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
  --black-color : #000;
--white-color:#fff;
--primary-color : #fc4c02;
--light-blue-color:#00b5e2;
--second-blue-color:#00cfb4;
--dark-blue-color:#0857c3;
--red-color:#e4002b;
--yellow-color:#ffcd00;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:sans-serif;
  position: relative;
  height: 5000px;
}