
.domestic-section{
    margin-top: 50px;
}
.col{
    height: 100%;
    border:1px solid black
}
.domestic-hotels .row .col .card{
    margin-bottom: 10px;
}
.filter{
    margin-bottom: 20px;
    text-align: center;
}
.rating-filter ul{
    padding:0
}
.rating-filter button{
margin:5px
}